:root{  /* utilização de variáveis dentro do css3. O root é a raiz do elemento. Ajuda pra quando o site tiver poucas cores e você já sabe quais são. Como é o caso da netflix q tem o preto e o vermelho predominantemente */ 
    --vermelho: #e50914;
    --preta: #141414;

}

*{  /* Esse "*" representa que as configurações abaixo servem pra todo o site em qualquer navegador */ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*define um limite de espaço no q ta sendo escrito pra q não ultrapasse o que vc já definiu. No caso se o tamanho definido foi de 400px, os itens de dentro se espremem mas não saem para fora. A caixa (box) é definida no hmtl com uma class */ 
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white; 
    
}

header .container{  /*ajuste do alinhamento do menu */ 
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between; /*cria um espaço entre a tag h2 e a tag nav */ 
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px; 
    
}

header nav a{   /*menu*/ 
    text-decoration: none;  /*ficar sem o link padrão do href (html) */ 
    color: #aaa;  /*cor do menu */
    font-size: 18px;
    
    margin-right: 15px;  /*espaçamento entre as palavras */ 
    
}

header nav a:hover{  /*mudança da cor ao passar o mouse em cima da palavra/link/menu */ 
    color: #fff;
}

/*edição do filme principal/capa*/ 

.filme-principal{   /*edição da imagem */ 
    font-size: 20px;
    background: url('img/capa2.jpg'), linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%);  /*semi transparencia/tonalidade da cor de fundo da imagem. Melhora o contraste */ 
    height: 700px;  
    background-size: cover;
    
    display: flex;
    flex-direction: column;  /*vai seguir com base no display */ 
    justify-content: center; /*vai seguir com base no flex direction */ 
    align-items: flex-start; /*se refere ao alinhamento com base no que foi definido no flex direction. Nesse caso vai começar do lado esquerdo da tela com base em uma coluna */ 
}

.filme-principal .sinopse{  /*edição da parte definida em class html como sinopse dentro do filme-principal */ 
    margin-top: 10px;
    margin-bottom: 50px;
    
}

.filme-principal .titulo{
    margin-bottom: 20px; 
    font-size: 50px;
    font-family: 'Trebuchet MS', arial, sans-serif;
}

.botao{  /*vem com um padrão mas é possível mudar: */ 
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 20px 20px; /*1º valor é pra altura e 2º valor pra largura */ /*se fosse só 1 valor, seria igual nos 4 cantos */ 
    
    margin-bottom: 20px;
    margin-right: 35px;
    font-size: 15px;
    cursor: pointer; /*como o ponteiro do mouse fica ao passar em cima do elemento */
    transition: .3s ease all; /*cuida da transição entre uma animação e outra */ 
}

.botao:hover{   
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}
/* wrapper = envelopar. Uma caixa maior que engloba outras caixas. Basicamente parecido com container. No caso abaixo, o .container engloba tanto o título quanto a sinopse e os botões pois o nome container está repetido nas divs. Já no .filme-principal .container vai englobar somente o container que estiver dentro da div .filme-principal  */

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 30%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}
